# .gitignore
__pycache__/
*.py[cod]
*.egg-info/
*.log
venv/
.env/
.streamlit/
.cache/
**/node_modules/
**/*.safetensors
**/*.bin
**/*.pt
key.txt.txt
.env
.streamlit/
venv/
__pycache__/
*.py[cod]
*.log
*.safetensors
*.bin
*.pt
